html {
  height: 100%;
  width: 100%;
}
h1, h2, h3, body {
  font-family: Gill Sans MT;
  text-align: center;
}
.warning {
  color: red;
}
a {
  text-decoration: none;
  
}
button {
  transition-duration: 0.4s;
  color: white;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.button {
  background-color: #1a7429; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
